@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.text-fun-pink:hover {
  color: #55acee;
  transition: top ease 0.5s;
}


.home-container {
  position: relative;
  z-index: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}